.post {
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 40px;
}

#light .post {
    background-color: white;
    box-shadow: 0 4px 10px 1px #888; /* line shadow */

}

#dark .post {
    background-color: #181818;
    border: #000;
}

.post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.post__headerAvatarAndName {
    display: flex;
    justify-content: center;
    align-items: center;
}


.post__headerAvatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    
}

.post__timePosted {
    color: gray;
    font-size: 12px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    max-height: 500px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;


}

h5 {
    font-weight: normal;
}

.post__details {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-bottom: 1px solid lightgray;
    padding: 5px 15px;

}

.post__details_h4 {
    font-weight: normal;
}

.post__likes {
    display: flex;
    align-items: center;
    gap: 0.5em;
}



.post__comment {
    padding: 10px 15px;
    font-weight: normal;
}

.comment {
    padding: 5px;
    font-weight: normal;
}

.post__addComment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-top: 1px solid lightgray;
}

.comment-input {
    flex: 3;
}

.comment-button {
    flex: 1;
}

#dark .comment-input {
    color: white;
}

#dark .comment-button {
    color: white;
}

#dark .comment-button:hover {
    background-color: lightgray;
}